@font-face {
  font-family: "wishedregular";
  src: url("/assets/fonts/wished-webfont.woff2") format("woff2"),
    url("/assets/fonts/wished-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-dark: #404040;
}

.theme-pizza {
  --color-background: #f20c19;
  --color-primary: #f2ba3d;
  --color-secondary: #2a7071;
  --color-accent: #f6eed6;
  --color-body-copy: #f6eed6;
  --background-image: url(../assets/pizza_slice.png);
  --emoji: "🍕";
  --shape-outside: polygon(0% 13%, 100% 14%, 100% 33%, 55% 95%, 0 95%);
  /* --shape-outside: polygon(0 5%, 100% 5%, 100% 90%, 0 90%); */
  --accent-image-margin: 1rem 1rem 1rem -20%;
}
.theme-party {
  --color-background: #f9b4c2;
  --color-primary: #4f86d5;
  --color-secondary: #f2ba3d;
  --color-accent: #f6eed6;
  --color-body-copy: #f6eed6;
  --background-image: url(../assets/disco_ball.png);
  --emoji: "🥳";
  --shape-outside: circle(55% at 30% 50%);
  --accent-image-margin: 1rem 1rem 1rem -20%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: large;
  font-family: "Work Sans", sans-serif;
  color: var(--color-body-copy);
  background-color: var(--color-background);
}

h1,
h2,
h3 {
  font-family: "Alfa Slab One", cursive;
  font-weight: 500;
}

h1 {
  color: var(--color-accent);
}

h2 {
  color: var(--color-primary);
  letter-spacing: 1px;
  font-size: 3em;
}

h3 {
  font-size: 2em;
  background-color: var(--color-secondary);
  display: inline-block;
  padding: 0 10px;
  border-radius: 2px;
}

p {
  font-size: 1.5em;
}

blockquote {
  font-size: 1.5em;
  color: var(--color-body-copy);
  font-style: italic;
}

img {
  max-width: 100%;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2em;
  display: block;
}

section {
  margin-bottom: 8em;
}

footer {
  font-size: 1.5em;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 4em 2em;
  text-align: center;
}

footer > a,
footer > address > a {
  color: var(--color-primary);
}

.button__container {
  margin-top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.button {
  text-decoration: none;
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  border-radius: 4px;
  box-shadow: 4px 4px 6px var(--color-dark);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.right-nav {
  display: flex;
  align-items: center;
}

.menu-toggle {
  margin-left: 10px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 3em;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
}

.nav-list > li > a {
  text-decoration: none;
  color: var(--color-primary);
}

nav {
  display: none;
}

nav.open {
  display: block;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 2em;
}

.logo {
  width: 200px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: var(--emoji);
  font-size: 21px;
  line-height: 28px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.background-image {
  background: var(--background-image);
  background-position: left -900px top 40%;
  background-repeat: no-repeat;
}

.header__title,
.header__subtitle {
  font-family: wishedregular;
  color: var(--color-accent);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 5px;
  font-size: 200%;
}

.header__image {
  margin-top: -30%;
  margin-left: 2%;
}

.header__subtitle {
  margin-top: -35%;
}

.pizza-kit__image {
  margin: var(--accent-image-margin);
  width: 70%;
  float: left;
  shape-outside: var(--shape-outside);
}

.clearfix {
  clear: both;
}

.testimonial {
  margin-bottom: 2em;
}

.testimonial__image {
  max-width: 200px;
  margin: auto;
  display: block;
}

span.highlight {
  color: var(--color-primary);
  font-weight: 700;
}

.site-details {
  margin-top: 3em;
}

.tos > a,
.made-by {
  font-size: 0.5em;
  color: var(--color-primary);
  margin: 10px;
}

.made-by > a {
  color: var(--color-primary);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .testimonial {
    display: flex;
    align-items: center;
  }
  .reverse {
    flex-direction: row-reverse;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
